<div class="d-flex justify-content-between mt-4">
  <h2 class="mb-0">Scheduled Maintenance</h2>  
</div>
<div class="row mt-3">
  <div class="card">
      <div class="card-header">
          Scheduled Maintenance of Equipment
      </div>
      <div class="card-body">
          <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="content" class="form-label">Hospitals</label>
                    <select name="hospitalId" class="form-control" id="hospitalId" formControlName="hospitalId" (change)="onHospitalSelect($event)">
                      <option value="null">Please Choose</option>
                      <option *ngFor="let hos of hospitalList" [value]="hos.id">{{ hos.name }}</option>
                    </select>
                    <div *ngIf="itemForm.controls['hospitalId'].invalid && (itemForm.controls['hospitalId'].dirty || itemForm.controls['hospitalId'].touched)" class="ng-dirty">
                      <span *ngIf="itemForm.controls['hospitalId'].errors" class="text-danger">Please choose hospital.</span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">Equipment</label>
                    <select name="equipmentId" class="form-control" id="equipmentId" formControlName="equipmentId">
                      <option value="null">Please Choose</option>
                      <option *ngFor="let eq of equipmentList" [value]="eq.id">{{ eq.name }}</option>
                    </select>
                    <div *ngIf="itemForm.controls['equipmentId'].invalid && (itemForm.controls['equipmentId'].dirty || itemForm.controls['equipmentId'].touched)" class="ng-dirty">
                      <span *ngIf="itemForm.controls['equipmentId'].errors" class="text-danger">Please choose Equipment.</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="content" class="form-label">Scheduled Date</label>
                        <input type="date" name="scheduledDate" formControlName="scheduledDate" class="form-control" id="scheduledDate" placeholder="Scheduled Date">
                        <div *ngIf="itemForm.controls['scheduledDate'].invalid && (itemForm.controls['scheduledDate'].dirty || itemForm.controls['scheduledDate'].touched)" class="ng-dirty">
                          <span *ngIf="itemForm.controls['scheduledDate'].errors" class="text-danger">Please Enter Scheduled Date.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="completedDate" class="form-label">Completed Date</label>
                        <input type="date" name="completedDate" formControlName="completedDate" class="form-control" id="completedDate" placeholder="Completed Date">
                        <div *ngIf="itemForm.controls['completedDate'].invalid && (itemForm.controls['completedDate'].dirty || itemForm.controls['completedDate'].touched)" class="ng-dirty">
                          <span *ngIf="itemForm.controls['completedDate'].errors" class="text-danger">Please Enter Completed Date.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" formControlName="description" class="form-control" id="description" placeholder="Description">
                    <div *ngIf="itemForm.controls['description'].invalid && (itemForm.controls['description'].dirty || itemForm.controls['description'].touched)" class="ng-dirty">
                      <span *ngIf="itemForm.controls['description'].errors" class="text-danger">Please Enter Description.</span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-control" name="status" id="status" formControlName="status">
                      <option value="null">Choose Status</option>
                      <option value="Initiated">Initiated</option>
                      <option value="Complete">Complete</option>
                    </select>
                    <div *ngIf="itemForm.controls['status'].invalid && (itemForm.controls['status'].dirty || itemForm.controls['status'].touched)" class="ng-dirty">
                      <span *ngIf="itemForm.controls['status'].errors" class="text-danger">Please choose status.</span>
                    </div>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-outline-dark mt-1" type="submit">Submit</button>
                  </div>
                  <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">{{ responseMessage }}</div>
                </div>
              </div>
              
          </form>
      </div>
  </div>
</div>
